<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <!-- <link rel="stylesheet" href="/simple.min.css"> -->
  <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  <title>Xata User Insertion with Htmx</title>
    <style>
        tr.htmx-swapping td {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
  <!-- <script src="/htmx.min.js"></script> -->
</head>
<body>
        <div id="tableandform">
            <h1>ejs index Create User</h1>
            <form hx-target="#tableandform" hx-post="/users/create-user">
                <label for="nama">Name:</label>
                <input type="text" name="nama" id="nama" placeholder="Enter your name">
                <br>
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <br>
                <label for="password">Password:</label>
                <input type="text" name="password" id="password" placeholder="Enter your password">
                <br>
                <button type="submit" >Submit</button>
            </form>

            <div id="mytable">
                <div  hx-get="/users/all"  hx-trigger="load"></div>

                <div id="update"></div>
            </div>
        </div>

  <div id="result"></div>

  <div id="delete"></div>

</body>
</html>
